n8n/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docker",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d925486b-4feb-4a01-b65a-9f8ed921e8c8",
      "name": "Webhook",
      "webhookId": "0fd98c0f-ebf1-4f77-91eb-32bc58304cf0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1dd8d8af-ddde-4e6b-8fb2-7873bce6bb51",
              "name": "nombre",
              "value": "={{$json[\"body\"][\"nombre\"]}}",
              "type": "string"
            },
            {
              "id": "f2d037f7-51df-4f4a-a7b9-447860d7f60c",
              "name": "mensaje",
              "value": "={{$json[\"body\"][\"mensaje\"]}}",
              "type": "string"
            },
            {
              "id": "b83929ac-d44e-4096-b1dd-d2f61b8126f3",
              "name": "fecha",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        0
      ],
      "id": "2ce9bd37-73d8-4045-b33b-66ef1035246e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca650ae4-0875-4844-80ff-f8d24094c062",
              "leftValue": "={{$json[\"mensaje\"]}}",
              "rightValue": "is not empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        0
      ],
      "id": "c04259a3-4754-423b-82c3-6c7685065412",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13HjLb7x9t8Oik1OFXjjmbqLSie448PidYQ7eKxyOmJs",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13HjLb7x9t8Oik1OFXjjmbqLSie448PidYQ7eKxyOmJs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13HjLb7x9t8Oik1OFXjjmbqLSie448PidYQ7eKxyOmJs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{$node[\"Edit Fields\"].json[\"nombre\"]}}",
            "Mensaje": "={{$node[\"Edit Fields\"].json[\"mensaje\"]}}",
            "Fecha": "={{$node[\"Edit Fields\"].json[\"fecha\"]}}",
            "data_api": "={{$json[\"data\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_api",
              "displayName": "data_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -80
      ],
      "id": "2fe67dce-2b2f-4ec1-ad82-42a04f1f6a85",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZWWF7jypqVxDsf8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        -80
      ],
      "id": "dcf3fc47-894d-4959-9c67-948955064f45",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eb0dc2b3-a698-433f-9add-bef28bb4f178",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efb8494faed540b5da329ecb11cd37f034a88214a4358aa784f90f4c2580392d"
  },
  "id": "we0blwUnQLCexlJe",
  "tags": []
}